body{
	width: 1440px;
	height: 1700px;   
    background-color: #F6F8F9;
}

.li{
	display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    margin: 20px;
}
nav{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	display: inline-block;
	vertical-align: middle;
    margin-right: 25px;
    margin-left: 25px;
}
.head{
	display: inline-block;
	vertical-align: middle;
    margin-left: 120px;    
}
.headd{
	display: inline-block;
	vertical-align: middle;
    color: grey;
    margin-left: 25px;
}
.heead{
	display: inline-block;
	vertical-align: middle;
    color: grey;
    margin-left: 25px;  
}
.heaad{
	display: inline-block;
	vertical-align: middle;
    color: grey;
    margin-left: 25px;
}
.girl{
	display: inline-block;
	vertical-align: middle;
    margin-left: 10px;
   
}

.header{
	width: 1920px;
	position: fixed;
	margin-top: -200px;
	background-color: white;
	z-index: 1000;
}
.mount{
	z-index: 1;
    margin-top: 80px;
    margin-right: 35px;
}

.umbrella{
	 margin-top: 80px;
    margin-right: 35px;
}

.divdiv{
	width: 1160px;
	height: 440px;
    margin-left: 250px; 
    margin-top: 200px;
    background-color: ;
}

.tranding{
	z-index: 2;
	margin-left: 10px;
	margin-top: 20px;
    front-size: 74px; 
    font-family: "BPG Banner", sans-serif;
}

.text{
    margin-top: 40px;
    margin-left: 20px;
    color: grey;
   font-family: "BPG Banner", sans-serif;
 
}

.divdivdiv{
	width: 360px;
	height: 180px;
	background-color: white;
    margin-top: -40px;
}
.time{
	margin-top: 80px;
    margin-left: 30px;
}
.minibox{
	width: 360px;
	height: 180px;
	background-color: white;
    margin-top: -220px;
    margin-left: 400px;
}
.mini{
	width: 360px;
	height: 180px;
	background-color: white;
    margin-top: -220px;
    margin-left: 798px;
}

.bridge{
	margin-left: 251px;
    margin-top: 190px;
}
.trail{
	margin-left: 251px;
	margin-top: 40px;
}
h1{
	margin-top: 150px;
	margin-left: 250px;
    margin-bottom: -165px;
}
.box{
	width: 360px;
	height: 896px;
    margin-left: 1050px;
    margin-top: -907px;
}
.ellephant{
    margin-bottom: 40px;

}
.bird{
	margin-bottom: 40px;
}
.relative{
	width: 1980px;
	height: 250px;
    background-color: #A6ADB4;
    margin-top: 100px;
    position: relative;
}
.absolute{
	width: 586px;
	height: 110px;
    background-color: #A6ADB4;
    margin-left: 150px;
    margin-top: 100px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}
.logoo{
	color: white;
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px; 
}
.footer{
	color: white;
    margin-left: 40px;
     line-height: 150%;

}
.footerr{
	color: ;
	margin-left: 370px;	
    margin-bottom: 100px; 
}

.textt{
     display: inline-block;
     vertical-align: middle;
     color: white; 
     word-spacing: 60px;
     margin-left: 40px;
    }
.texti{
	display: inline-block;
	vertical-align: middle;
    margin-left: 110PX;
    color: white;
    word-spacing: 40px;
     
}
.textii{
	display: inline-block;
	vertical-align: middle;
    margin-left: 110PX;
    color: white;
    word-spacing: 40px;
    margin-top: 10px;
}